extends layout

block content
  h1= title
  p Welcome to #{title}

  ul
    li
      a(href='trunk/add') Add trunk
    li
      a(href='trunk/list') List trunk
    li
      a(href='user/add') Add user